.footer {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #a6a6a6;

  &__text {
    background-color: #ffffff;
    color: #386c5f;
    font-size: 0.75rem;
    margin: 0;
    padding: 1.25rem;
  }
}
