.header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  padding-bottom: 1rem;

  &__button {
    background-color: white;
    color: black;
    text-transform: uppercase;
    border-radius: 5rem;
    padding: 1rem;
    margin-right: 0.75rem;
  }

  &__link {
    background-color: black;
    color: white;
    text-transform: uppercase;
    border-radius: 5rem;
    padding: 1rem;
  }
}
