.page {
  &__section {
    text-align: center;
    margin-top: 30%;
  }
  &__header {
    font-size: 5rem;
  }

  &__list {
    margin-bottom: 3rem;
    font-size: 2rem;
    border-radius: 5rem;
    background-color: lightgray;
    color: grey;
    text-align: center;
    padding: 0.5rem 0;
  }

  &__button {
    background-color: darkgreen;
    color: white;
    text-transform: uppercase;
    border-radius: 5rem;
    width: 30%;
    font-size: 2rem;
    padding: 1rem 2rem;
    margin-top: 1rem;
    text-decoration: none;
  }
}
